.header {
  padding: 20px 0;
  width: 100%;
  background-color: #c4dfe6;
  font-family: "Pushster", cursive;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  font-size: 20px;

  padding: 0 20px;
  line-height: 50px;
}

.nav-links {
  font-size: 28px;
  transition: 0.6s all;
  letter-spacing: 2px;
  color: rgb(85, 84, 84);
}

.nav-links:hover {
  cursor: pointer;
  color: #c15806;
}
